@using is_ilani_MVC.Models
@model KayitOl
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5 mb-5">
    <div class="row" <!--Row 12 eşit kolondan oluşur-->
        <div class="col-3"></div>
        <div class="col-6">  
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group"
                <label asp-for="adSoyad">İsim Soyisim </label>
                <input asp-for="adSoyad" class="form-control">
            </div>
            <div class="form-group"
                <label asp-for="Password">Şifre</label>
                <input asp-for="Password" class="form-control">
            </div>
            <div class="form-group"
                <label asp-for="RePassword">Şifre Tekrar</label>
                <input asp-for="RePassword" class="form-control">
            </div>
            <div class="form-group"
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control">
            </div>
            <div class="form-group"
                <label asp-for="TelNo">Telefon Numarası</label>
                <input asp-for="TelNo" class="form-control">
            </div>
            <div class="container mt-3 mb-3">
            <button type="submit" class="btn btn-primary">Kayıt Ol</button>
        </form></div>
    <div class="col-3"></div>
       

</div>