
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="row g-0 about-bg rounded overflow-hidden">
                    <div class="col-6 text-start">
                        <img class="img-fluid w-100" src="~/img/about-1.jpg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid" src="~/img/about-2.jpg" style="width: 85%; margin-top: 15%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid" src="~/img/about-3.jpg" style="width: 85%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid w-100" src="~/img/about-4.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">Size En Uygun İşi Bulmanıza Yardımcı Oluyoruz</h1>
                <p class="mb-4">Her gün yayınladığımız binlerce ilanla sana en uygun, hayalindeki işi bulmana yardım etmek için buradayız. Kriterlerine uygun iş ilanları için doğru yerdesin.</p>
                <p><i class="fa fa-check text-primary me-3"></i>Özgeçmişini yenile</p>
                <p><i class="fa fa-check text-primary me-3"></i>En yeni ilanlara ilk sen ulaş</p>
                <p><i class="fa fa-check text-primary me-3"></i>Başvurunu tamamla</p>
                <a class="btn btn-primary py-3 px-5 mt-3" href="">Hemen Aramaya Başla</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->